{"openapi": "3.1.0", "info": {"title": "MostExpensiveWatches Public API", "version": "1.0.0", "description": "Read-only JSON APIs for ultra-luxury watch inventory, reference pages and auction lots."}, "servers": [{"url": "https://mostexpensivewatches.net"}], "paths": {"/api/health": {"get": {"summary": "Public API health check", "responses": {"200": {"description": "OK"}}}}, "/api/stats": {"get": {"summary": "Site and data-surface counts", "responses": {"200": {"description": "OK"}}}}, "/api/snapshot.json": {"get": {"summary": "Compact one-call market snapshot for CLIs and agents", "responses": {"200": {"description": "OK"}}}}, "/api/brands": {"get": {"summary": "Tracked brands with inventory stats", "responses": {"200": {"description": "OK"}}}}, "/api/brands/{slug}": {"get": {"summary": "One-call brand dossier with inventory stats, listings, references, reviews and auction lots", "parameters": [{"name": "slug", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "limit", "in": "query", "schema": {"type": "integer", "minimum": 1, "maximum": 50}}, {"name": "lang", "in": "query", "schema": {"type": "string"}}], "responses": {"200": {"description": "OK"}, "404": {"description": "Not found"}}}}, "/api/listings/search": {"get": {"summary": "Search live watch listings", "parameters": [{"name": "q", "in": "query", "schema": {"type": "string"}}, {"name": "brand", "in": "query", "schema": {"type": "string"}}, {"name": "complication", "in": "query", "schema": {"type": "string"}}, {"name": "material", "in": "query", "schema": {"type": "string"}}, {"name": "min_price", "in": "query", "schema": {"type": "number"}}, {"name": "max_price", "in": "query", "schema": {"type": "number"}}, {"name": "limit", "in": "query", "schema": {"type": "integer", "minimum": 1, "maximum": 50}}], "responses": {"200": {"description": "OK"}}}}, "/api/references": {"get": {"summary": "Iconic reference database", "responses": {"200": {"description": "OK"}}}}, "/api/references/resolve": {"get": {"summary": "Resolve fuzzy text into canonical watch reference records", "parameters": [{"name": "q", "in": "query", "required": true, "schema": {"type": "string"}}, {"name": "brand", "in": "query", "schema": {"type": "string"}}, {"name": "limit", "in": "query", "schema": {"type": "integer", "minimum": 1, "maximum": 25}}], "responses": {"200": {"description": "OK"}, "400": {"description": "Missing q"}}}}, "/api/references/{slug}": {"get": {"summary": "Reference detail with matching listings and auction comps", "parameters": [{"name": "slug", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK"}, "404": {"description": "Not found"}}}}, "/api/reviews": {"get": {"summary": "Structured collector reviews with scores, checklist and market context", "responses": {"200": {"description": "OK"}}}}, "/api/reviews/search": {"get": {"summary": "Search localized collector reviews by brand, model, reference or material", "parameters": [{"name": "q", "in": "query", "schema": {"type": "string"}}, {"name": "brand", "in": "query", "schema": {"type": "string"}}, {"name": "lang", "in": "query", "schema": {"type": "string"}}, {"name": "limit", "in": "query", "schema": {"type": "integer", "minimum": 1, "maximum": 100}}], "responses": {"200": {"description": "OK"}}}}, "/api/reviews/index.json": {"get": {"summary": "Compact review discovery index with brand hubs and localized URLs", "responses": {"200": {"description": "OK"}}}}, "/api/reviews/{slug}": {"get": {"summary": "Structured collector review detail", "parameters": [{"name": "slug", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "lang", "in": "query", "schema": {"type": "string"}}], "responses": {"200": {"description": "OK"}, "404": {"description": "Not found"}}}}, "/api/alternatives/search": {"get": {"summary": "Resolve a reference query and return comparable collector alternatives", "parameters": [{"name": "q", "in": "query", "required": true, "schema": {"type": "string"}}, {"name": "brand", "in": "query", "schema": {"type": "string"}}, {"name": "lang", "in": "query", "schema": {"type": "string"}}, {"name": "limit", "in": "query", "schema": {"type": "integer", "minimum": 1, "maximum": 25}}], "responses": {"200": {"description": "OK"}, "400": {"description": "Missing q"}}}}, "/api/alternatives/{slug}": {"get": {"summary": "Comparable alternatives for a canonical reference slug", "parameters": [{"name": "slug", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "lang", "in": "query", "schema": {"type": "string"}}, {"name": "limit", "in": "query", "schema": {"type": "integer", "minimum": 1, "maximum": 25}}], "responses": {"200": {"description": "OK"}, "404": {"description": "Not found"}}}}, "/api/auctions": {"get": {"summary": "Documented auction lots", "responses": {"200": {"description": "OK"}}}}, "/api/auctions/{slug}": {"get": {"summary": "Auction lot detail", "parameters": [{"name": "slug", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK"}, "404": {"description": "Not found"}}}}, "/api/changelog": {"get": {"summary": "API updates and version notes", "responses": {"200": {"description": "OK"}}}}, "/api/licensing.json": {"get": {"summary": "Commercial data licensing packages and sample links", "responses": {"200": {"description": "OK"}}}}, "/api/datasets.json": {"get": {"summary": "Dataset catalog for data buyers, CLIs and AI agents", "responses": {"200": {"description": "OK"}}}}, "/api/schema.json": {"get": {"summary": "JSON-schema style shapes for MEW public datasets", "responses": {"200": {"description": "OK"}}}}, "/api/fields.json": {"get": {"summary": "Field-level catalog with types, descriptions, primary keys and stability labels", "responses": {"200": {"description": "OK"}}}}, "/api/dataset-changelog.json": {"get": {"summary": "Dataset and schema changelog for API consumers", "responses": {"200": {"description": "OK"}}}}, "/api/samples/{dataset}.csv": {"get": {"summary": "Small CSV sample for a public dataset", "parameters": [{"name": "dataset", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "limit", "in": "query", "schema": {"type": "integer", "minimum": 1, "maximum": 100}}], "responses": {"200": {"description": "OK"}, "404": {"description": "Unknown dataset"}}}}, "/api/samples/{dataset}.jsonl": {"get": {"summary": "Small JSONL sample for a public dataset", "parameters": [{"name": "dataset", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "limit", "in": "query", "schema": {"type": "integer", "minimum": 1, "maximum": 100}}], "responses": {"200": {"description": "OK"}, "404": {"description": "Unknown dataset"}}}}, "/api/examples.json": {"get": {"summary": "Copy-paste API examples for CLIs, agents and vibecoders", "responses": {"200": {"description": "OK"}}}}, "/api/ticker": {"get": {"summary": "News ticker headlines", "responses": {"200": {"description": "OK"}}}}, "/developers/manifest.json": {"get": {"summary": "Compact machine-readable developer manifest for APIs, datasets, CLI, samples, feed and licensing", "responses": {"200": {"description": "OK"}}}}, "/developers/snippets.json": {"get": {"summary": "Copy-paste SDK snippets for curl, Python, JavaScript, shell and AI agents", "responses": {"200": {"description": "OK"}}}}, "/developers/vibecoder-kit.json": {"get": {"summary": "Builder starter kit with project ideas, endpoint map, prompts and guardrails", "responses": {"200": {"description": "OK"}}}}, "/developers/build-watch-app.md": {"get": {"summary": "Markdown quickstart for building a MEW-powered watch-market app", "responses": {"200": {"description": "OK"}}}}, "/developers/prompt.md": {"get": {"summary": "Copy-paste markdown prompt for building with MEW APIs", "responses": {"200": {"description": "OK"}}}}, "/developers/cursor-rules.md": {"get": {"summary": "Cursor rules for MEW-powered watch-market apps", "responses": {"200": {"description": "OK"}}}}, "/developers/codex.md": {"get": {"summary": "Codex task prompt for MEW-powered watch-market apps", "responses": {"200": {"description": "OK"}}}}, "/developers/agent-toolkit.json": {"get": {"summary": "Task-oriented workflow manifest for AI agents, CLIs and vibecoder apps", "responses": {"200": {"description": "OK"}}}}, "/developers/mcp.json": {"get": {"summary": "MCP-style tool manifest for AI agents and vibecoder apps", "responses": {"200": {"description": "OK"}}}}, "/developers/feed.xml": {"get": {"summary": "RSS feed of API, dataset, CLI and developer-surface updates", "responses": {"200": {"description": "OK"}}}}, "/answers": {"get": {"summary": "Localized answer hub for citable market questions", "responses": {"200": {"description": "OK"}}}}, "/answers/{slug}": {"get": {"summary": "Localized answer page with sources, key facts and API links", "parameters": [{"name": "slug", "in": "path", "required": true, "schema": {"type": "string"}}], "responses": {"200": {"description": "OK"}, "404": {"description": "Not found"}}}}, "/api/answers.json": {"get": {"summary": "Structured answer index for agents, CLIs and answer engines", "parameters": [{"name": "lang", "in": "query", "schema": {"type": "string"}}, {"name": "limit", "in": "query", "schema": {"type": "integer", "minimum": 1, "maximum": 300}}, {"name": "q", "in": "query", "schema": {"type": "string"}}, {"name": "brand", "in": "query", "schema": {"type": "string"}}, {"name": "kind", "in": "query", "schema": {"type": "string"}}, {"name": "summary", "in": "query", "schema": {"type": "boolean"}}], "responses": {"200": {"description": "OK"}}}}, "/api/answers/search": {"get": {"summary": "Search citable answer payloads by query, brand or answer kind", "parameters": [{"name": "q", "in": "query", "schema": {"type": "string"}}, {"name": "brand", "in": "query", "schema": {"type": "string"}}, {"name": "kind", "in": "query", "schema": {"type": "string"}}, {"name": "lang", "in": "query", "schema": {"type": "string"}}, {"name": "summary", "in": "query", "schema": {"type": "boolean"}}, {"name": "limit", "in": "query", "schema": {"type": "integer", "minimum": 1, "maximum": 300}}], "responses": {"200": {"description": "OK"}}}}, "/api/answers/{slug}.json": {"get": {"summary": "Structured localized answer payload with facts, evidence and API links", "parameters": [{"name": "slug", "in": "path", "required": true, "schema": {"type": "string"}}, {"name": "lang", "in": "query", "schema": {"type": "string"}}], "responses": {"200": {"description": "OK"}, "404": {"description": "Not found"}}}}, "/cli/mew.py": {"get": {"summary": "Dependency-free Python CLI client for the public API", "responses": {"200": {"description": "OK"}}}}}}